.dsaDashboard{
    width:260px;
    height:100vh;

    position:fixed;
    top:0;
    left:0;

    background:#111827;
    border-right:1px solid #1f2937;

    padding:30px 20px;
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
}

.dsaDashboard h2{
    color:#22c55e;
    font-size:28px;
    font-weight:700;
    letter-spacing:.5px;
    margin-bottom:40px;
}

.navLink{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.navLink a{
    text-decoration:none;
}

.dsanavitem{
    color:#d1d5db;

    padding:16px 18px;

    border-radius:12px;

    border-left:4px solid transparent;

    transition:all .25s ease;

    cursor:pointer;
}

.dsanavitem p{
    margin:0;
    font-size:16px;
    font-weight:500;
}

.dsanavitem:hover{
    background:#1f2937;
    color:#4ade80;
    border-left:4px solid #22c55e;
    transform:translateX(6px);
}

.dsanavitem:hover p{
    color:#4ade80;
}

.dsanavitem:active{
    transform:translateX(3px);
}
.backButton{

    width:40px;
    height:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:20px;

    background:#1f2937;

    color:#f3f4f6;

    border-radius:10px;

    text-decoration:none;

    font-size:22px;
    font-weight:600;

    transition:.2s;

}

.backButton:hover{

    background:#374151;

    color:#22c55e;

}