.status-page-root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.problemSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: start;
}

@media (max-width: 900px) {
  .problemSection {
    grid-template-columns: 1fr;
  }
}