.heroComp {
    display: flex;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}